 <launch>
    <!-- publish joint state of the simulation robot -->
    <rosparam file="$(find betago_description)/controller/joint_state_controller_dual_ur5.yaml" command="load"/>

    <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="joint_state_controller" />

    <!-- publish tf  -->
    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen"-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
