 <launch>
    <!-- publish /joint_state of the simulation robot -->
    <rosparam file="$(find betago_control)/config/joint_state_controller.yaml" command="load"/>

    <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="joint_state_controller" />

    <!-- publish tf  -->
    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen"-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <param name="publish_frequency" type="double" value="10.0" />
    </node>

</launch>
