<launch>
    <arg name="dual_arm" default="false" />
    <arg name="world_name" default="worlds/empty.world" />
    <arg name="eye_on_hand" default="false"/>
    <arg name="init_x" default="3"/>
    <arg name="init_y" default="-2"/>
    <arg name="init_z" default="4"/>
    <arg name="joystick" default="false"/>
    <arg name="config" default="$(optenv RIDGEBACK_CONFIG base)" />
    <!-- Launch Gazebo ur_gazebo_controller -->
    <include file="$(find betago_gazebo)/launch/ridgeback/ridgeback_world.launch" >
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_z" value="$(arg init_z)"/>
        <arg name="joystick" value="$(arg joystick)"/>
        <arg name="config" value="$(arg config)"/>
    </include>

    <!-- ros_control arm launch file -->
    <include file="$(find betago_control)/launch/betago/betago_states_gazebo.launch" />
    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find betago_control)/launch/ur5/arm_trajectory_controller.launch">
      <arg name="dual_arm" value="$(arg dual_arm)" />
    </include>
<!--    <include file="$(find betago_control)/launch/allegro_hand/allegro_trajectory_controller.launch" />-->
    <!-- moveit launch file -->
    <include file="$(find betago_moveit_config)/launch/betago_moveit_planning_execution.launch" />

    <!--  to default pose-->
<!--    <arg name="node_start_delay" default="6.0" />-->
<!--    <node name="to_default_pose" pkg="betago_bringup" type="to_default_pose" respawn="false" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " >-->
    <node name="to_default_pose" pkg="betago_bringup" type="to_default_pose" respawn="false" output="screen" >
        <rosparam command="load" file="$(find betago_moveit_config)/config/kinematics.yaml"/>
        <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
        <param name="dual_arm" value="$(arg dual_arm)"/>
        <param name="eye_on_hand" value="$(arg eye_on_hand)"/>
        <rosparam command="load" file="$(find betago_moveit_config)/config/ompl_planning.yaml"/>
    </node>
</launch>
