<launch>
  <arg name="config" default="$(optenv RIDGEBACK_CONFIG base)" />

  <param name="robot_description"
         command="$(find ridgeback_description)/scripts/env_run
                  $(find betago_description)/urdf/configs/$(arg config)
                  $(find xacro)/xacro $(find betago_description)/urdf/ridgeback/ridgeback.urdf.xacro
                  --inorder " />
  <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />-->
</launch>
