<launch>
  <arg name="config" default="$(optenv RIDGEBACK_CONFIG empty)" />

  <param name="robot_description"
         command="$(find ridgeback_description)/scripts/env_run
                  $(find ridgeback_description)/urdf/configs/$(arg config)
                  $(find xacro)/xacro $(find betago_description)/urdf/gazebo/ridgeback/ridgeback_test.xacro" />
  <param name="use_gui" value="true"/>
  <!-- 运行joint_state_publisher节点，发布机器人的关节状态  -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <!-- 运行robot_state_publisher节点，发布tf  -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <!-- 运行rviz可视化界面 -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find betago_description)/config/ridgeback_rviz.rviz" required="true" />
</launch>
