<!-- Launch file for a single Hokuyo Lidar -->
<launch>
    <node pkg="urg_node" name="urg_front" type="urg_node">
        <param name="ip_address" value="192.168.131.14" />
        <param name="frame_id" value="front_laser" />
        <param name="angle_min" value="-2.35619" />
        <param name="angle_max" value="2.35619" />
        <remap from="scan" to="front/scan" />
    </node>
</launch>