<launch>
  <param name="use_gui" value="true"/>
  <arg name="config" default="robot" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find betago_navigation)/rviz/$(arg config).rviz" />
  <node pkg="tf"
        type="static_transform_publisher"
        name="world_odom_trans"
        args="0 0 0 0 0 0 world odom 50" />
  <node pkg="tf"
        type="static_transform_publisher"
        name="world_map_trans"
        args="0 0 0 0 0 0 world map 50" />
<!--  <node pkg="tf"-->
<!--        type="static_transform_publisher"-->
<!--        name="imu_body_trans"-->
<!--        args="0 0 0 0 0 0 imu_link body 50" />-->
</launch>
