<launch>
  <arg name="sim" default="false" />
  <arg name="debug" default="false" />

  <!-- Remap follow_joint_trajectory -->
  <!--remap if="$(arg sim)" from="/follow_joint_trajectory" to="/left_ur_arm_controller/follow_joint_trajectory"/-->

  <!-- Launch moveit -->
  <include file="$(find betago_moveit_config)/launch/move_group.launch">
    <arg name="debug" default="$(arg debug)" />
  </include>
  <!--The visualization component of MoveIt!-->
  <include file="$(find betago_moveit_config)/launch/moveit_rviz.launch"/>
  <!-- We do not have a robot connected, so publish fake joint states -->
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/> 
    <rosparam param="/source_list">[/arm/joint_states]</rosparam>
  </node-->

</launch>
