<?xml version="1.0"?>
<robot name="betago" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find betago_description)/urdf/ridgeback.xacro" />
    <xacro:include filename="$(find betago_description)/urdf/connectBlock.xacro" />
    <ridgeback/>
    <!-- connect block -->
    <joint name="connectBlock_joint" type="fixed">
	<origin xyz="0 0 ${deck_height}" rpy="0 0 0"/>
	<parent link="top_link"/>
	<child link="connectBlock_link"/>
    </joint>
    <connectBlock/>
    
    
</robot>
