<?xml version="1.0"?>
<robot name="betago" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find betago_description)/urdf/betago/ridgeback_dual_ur5_description.urdf.xacro" />

<!--    <xacro:include filename="$(find betago_description)/urdf/allegro_hand/dual_allegro_hand.xacro" />-->
<!--    hand camera-->
    <xacro:include filename="$(find betago_description)/urdf/sensors/kinect_prefix.urdf.xacro" />
    <xacro:if value="$(optenv BETAGO_ARM_KINECT 0)">
        <prefix_sensor_kinect prefix="left_hand" parent="left_ur_arm_ee_link" cam_px="0.05" cam_py="0" cam_pz="-0.1" cam_or="${pi}" cam_op="0" cam_oy="0"/>
    </xacro:if>
</robot>
